.faq-box-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
  }
  
  .faq-box {
    border: 1px solid #f1e9eb; /* Pink border color */
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f07da3; /* Strong pink background color */
  }
  
  .faq-box h3 {
    margin-bottom: 10px;
    color: #086b1d; /* White text color for the heading */
  }
  
  .faq-box p {
    margin: 0;
    color: #131212; /* White text color */
  }
  /* Add this CSS in your Faq.css file or create a new CSS file */

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-query-container {
    max-width: 3000px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #66a2cd; /* White background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for a subtle lift */
  }
  
  .user-query-container form {
    display: flex;
    flex-direction: column;
  }
  
  .user-query-container label {
    margin-bottom: 10px;
  }
  
  .user-query-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .user-query-container button {
    padding: 10px;
    background-color: #4caf50; /* Green color for the button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-query-container button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .success-message {
    color: #db0d0d; /* Green color for success message */
    font-weight: bold;
  }
  