/* Login.css */
.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set to 100% of the viewport height */
    background-color: #f0f0f0; /* Background color for the entire page */
  }
  
  .login-container {
    background-color: #fff; /* Background color for the login container */
    padding: 20px;
    border: 1px solid #ccc; /* Border color for the login container */
    border-radius: 8px; /* Rounded corners for the login container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Button color on hover */
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #007bff; /* Link color */
  }
  